<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


	<%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C1/Worksheets-Notes/Edexcel%20C1%20Notes.pdf"  do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p>Pure Core One Detailed Notes </p>
<% end %>



</div>


<div style="position:absolute; left:700px; top:100px;" >


	<%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C1/Worksheets-Notes/Edexcel%20C1%20Revision%20Notes.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Core one Revision Notes with examples </p>
<% end %>



</div>












</body>


</html>