<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


	<%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C2/Worksheets-Notes/Edexcel%20C2%20Notes.pdf"  do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p>Pure Core Two Detailed Notes </p>
<% end %>



</div>


<div style="position:absolute; left:700px; top:100px;" >


	<%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C2/Worksheets-Notes/Edexcel%20C2%20Summary.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Core Two Revision Required Notes With Examples And Information Sheet </p>
<% end %>



</div>












</body>


</html>