<!Doctype html>
<html>

<head>

<style>  

body {
 
 background-image: url("/coreonebackgroundimg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

 p {
 	color: #4E6C7D;
 	font-family: 'Raleway',sans-serif; font-size: 12px; font-weight: 800;

 }

 </style>


</head>


<body>
	
<div style="position:absolute; left:300px; top:100px;" >
<%= link_to  junetwokninecone_index_path  do %>
  <%= image_tag('introimgs/DOC.png', width:'100px', height: '100px') %>
<% end %>
</div>

<div  style="position:absolute; left:300px; top:190px;"> 
<p>June 2009-C1:Edexcel</p>
</div>



</body>


</html>
