<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


  <%= image_tag('/coretwoformulas/1.png', width:'900px', height: '1300px') %>



</div>

<div style="position:absolute; left:300px; top:1500px;" >


  <%= image_tag('/coretwoformulas/2.png', width:'900px', height: '1500px') %>



</div>










</body>


</html>