<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


  <%= image_tag('/coreoneformulas/1.png', width:'900px', height: '1200px') %>



</div>

<div style="position:absolute; left:300px; top:1300px;" >


  <%= image_tag('/coreoneformulas/2.png', width:'900px', height: '1200px') %>



</div>










</body>


</html>