<!Doctype html>
<html>
<head>
</head>
<style type="text/css">
body {
 
 background-image: url("/coreonebackgroundimg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}







</style>



<body>





<div style="position:absolute; left:300px; top:100px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn1.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn1.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn1.png' " style=width:70%;height:60%;>

</div>


<div style="position:absolute; left:300px; top:660px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn2.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn2.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn2.png' " style=width:70%;height:70%;>
		
</div>


<div style="position:absolute; left:300px; top:1240px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn3.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn3.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn3.png' " style=width:70%;height:70%;>
		
</div>


<div style="position:absolute; left:100px; top:1840px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn4.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn4.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn4.png' " style=width:90%;height:90%;>
		
</div>



<div style="position:absolute; left:300px; top:2500px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn5.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn5.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn5.png' " style=width:120%;height:90%;>
		
</div>



<div style="position:absolute; left:100px; top:3520px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn6.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn6.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn6.png' " style=width:95%;height:90%;>
		
</div>


<div style="position:absolute; left:100px; top:4320px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn7.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn7.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn7.png' " style=width:95%;height:90%;>
		
</div>



<div style="position:absolute; left:100px; top: 5090px;" >

		<img src="/coreMATHSthreejune2009questions/twoknineqn8.png" onmouseover = "src='/coreMATHSthreejune2009answers/qn8.png' " onmouseout = "src= '/coreMATHSthreejune2009questions/twoknineqn8.png' " style=width:95%;height:90%;>
		
</div>








</body>


</html>