<!Doctype html>
<html>
<head>
</head>
<style type="text/css">
body {
 
 background-image: url("/coreonebackgroundimg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

</style>

<body>

<div style="position:absolute; left:300px; top:100px;" >

		<img src="/coreMATHStwojune2009questions/twoknineqn1.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans1.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn1.png' " style=width:60%;height:60%;>

</div>

<div style="position:absolute; left:300px; top:320px;" >


		<img src="/coreMATHStwojune2009questions/twoknineqn2.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans2.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn2.png' " style=width:60%;height:60%;>


</div>

	
<div style="position:absolute; left:300px; top:600px;" >

<img src="/coreMATHStwojune2009questions/twoknineqn3.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans3.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn3.png' " style=width:60%;height:60%;>

</div>

<div style="position:absolute; left:300px; top:890px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn4.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans4.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn4.png' " style=width:60%;height:60%;>

</div>

<div style="position:absolute; left:300px; top:1400px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn5.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans5.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn5.png' " style=width:60%;height:60%;>

</div>

<div style="position:absolute; left:300px; top:1690px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn6.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans6.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn6.png' " style=width:60%;height:60%;>
</div>



<div style="position:absolute; left:300px; top:2080px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn7.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans7.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn7.png' " style=width:60%;height:60%;>
</div>

</div>



<div style="position:absolute; left:300px; top:2300px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn8.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans7.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn8.png' " style=width:60%;height:60%;>
</div>



</div>


<div style="position:absolute; left:300px; top:2550px;" >


<img src="/coreMATHStwojune2009questions/twoknineqn9.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans8.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn9.png' " style=width:90%;height:60%;>




</div>



<div style="position:absolute; left:300px; top:3000px;" >



<img src="/coreMATHStwojune2009questions/twoknineqn10.png" onmouseover = "src='/coreMATHStwojune2009answers/twoknineans9.png' " onmouseout = "src= '/coreMATHStwojune2009questions/twoknineqn10.png' " style=width:90%;height:60%;>



</div>




</body>


</html>